@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap');
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{font-family: 'Noto Sans KR', sans-serif;}
html, body{width: 100%; height: 100%;}

.header{
    width: 100%;
}
.slide-swiper{
    width: 100%;
}
.header .slide-swiper .swiper-wrapper{
    display: flex;
    overflow: hidden;
    max-width: 1920px;
    height: 800px;
    position: relative;
}


.header .banner-box{
    position: absolute;
    top: 260px;
    left: 191px;
    width: 320px;
    height: 328px;
    background-color: rgba(255, 255, 255, 0.56);
    display: none;
    z-index: 1;
}
.header .banner-box2{
    position: absolute;
    top: 260px;
    right: 191px;
    width: 320px;
    height: 328px;
    background-color: rgba(255, 255, 255, 0.56);
    display: none;
    z-index: 1;
}

.header .banner-box a:nth-child(1),
.header .banner-box2 a:nth-child(1){
    display: inline-block;
    font-weight: bold;
    font-size: 23px;
    margin-top: 32px;
    margin-left: 45px;
}
.header .banner-box a:nth-child(2),
.header .banner-box2 a:nth-child(2){
    display: inline-block;
    margin-top: 64px;
    margin-left: 45px;
    color: #626262;
    font-size: 13px;
    line-height: 23px;
    font-weight: bold;
    letter-spacing: 0.5px;
}


.header .header-list{
    width: 100%;
    height: 70px;
    background-color: #f3f4ef;
    position: fixed;
    top: 0;
    z-index: 98;
}
.header .header-list .list-wrap{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.header .header-list .etc{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: end;
}
.header .header-list .etc > img{
    margin-right: 319px;
}
.header .header-list .etc a:nth-child(3){
    margin: 0 42px;
}
.header .header-list .etc .line{
    width: 30px;
    height: 1px;
    background-color: #000;
}
.header .header-list .etc .line:nth-child(2){
    margin: 8px 0;
}

.header .side-nav{
    width: 393px;
    height: 800px;
    background-color: #f3f4ef;
    position: fixed;
    top: 0;
    right: -393px;
    transition: 0.3s;
    z-index: 99;
}
.header .side-nav.on{
    right: 0;
    transition: 0.3s;
}
.header .side-nav .close{
    padding-top: 22px;
    cursor: pointer;
}
.header .side-nav .nav-wrap{
    width: 280px;
    margin: 0 auto;
    padding-top: 51px;
}
.header .side-nav .logo{
    text-align: center;
}
.header .side-nav ul{
    padding-top: 100px;
    font-weight: bold;
}
.header .side-nav ul li:not(:nth-child(5)){
    padding-bottom: 81px;
}

.content{
    width: 100%;
}
.content .menu{
    max-width: 1200px; 
    margin: 146px auto 0;
}
.content .menu ul{
    display: flex;
    justify-content: space-between;
}
.content .menu ul li{
    position: relative;
    cursor: pointer;
}
.content .menu ul li img{
    width: 100%;
}
.content .menu ul li.on::after{
    width: 70%;
}
.content .menu ul li::after{
    content: "";
    width: 0%;
    height: 1px;
    background-color: #e7b633;
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.content .menu-pic{
    max-width: 1650px;
    /*  */
    height: 685px;
    /* overflow: hidden; */
    margin: 0 auto;
    margin-bottom: 150px;
    position: relative;
}
.content .menu-pic .menu-ul{
    width: 100%;
    /* height: 100%; */
    padding-bottom: 130px;
    display: flex;
    overflow: hidden;
}

.content .menu-pic i{
    position: absolute;
    font-size: 30px;
    cursor: pointer;
}
.content .menu-pic i:nth-child(2){
    top: 30%;
    left: -50px;
}
.content .menu-pic i:nth-child(3){
    top: 30%;
    right: -50px;
}
/* .content .menu-pic ul{
    width: 100%;
    overflow: hidden;
    display: flex;
    padding-top: 180px;
    padding-bottom: 100px;
    display: none;
    transition: 1s;
}
.content .menu-pic ul.on{
    display: block;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
    padding-bottom: 100px;
    transition: 1s;
} */
.content .menu-pic ul{
    width: 100%;
    display: flex;
    padding-top: 70px;
    transition: 0.3s;
}
.content .menu-pic ul.on{
    position: relative;
    right: 100%;
    transition: 0.3s;
}


.content .menu-pic ul li{
    width: 100%;
    margin-right: 50px;
    display: none;
    transition: 0.3s;
    box-sizing: border-box;
}
.content .menu-pic ul li.on{
    width: 100%;
    display: block;
    /* display: flex; */
    transition: 0.3s;
}
.content .menu-pic ul li img:hover{
    transform: scale(1.1);
}
.content .menu-pic ul:nth-child(6) li:not(:nth-child(1)){
    margin-left: 130px;
}
.content .menu-pic ul:nth-child(8) li{
    margin-right: 200px;
}

.content .menu-pic .menu-txt{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 158px;
    display: none;
}
.content .menu-pic .menu-txt.on{
    display: block;
}
.content .menu-pic .menu-txt span{
    display: inline-block;
    margin-bottom: 29px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}
.content .menu-pic .menu-txt span::after{
    content: "NEW";
    font-size: 13px;
    color: #f00;
    position: absolute;
    top: 2px;
    right: -33px;
}

.content .event{
    width: 100%;
    padding-top: 100px;
}
.content .event ul{
    display: flex;
    padding-bottom: 200px;
}
.content .event ul li{
    max-width: 960px;
}
.content .event ul li img{
    width: 100%;
}

.content .special{
    max-width: 1200px;
    margin: 0 auto;
}
.content .special .title span{
    /* padding-left: 475px; */
    padding-left: 41%;
    font-size: 24px;
}
.content .special .title ul{
    display: flex;
    /* width: 1200px; */
    justify-content: space-between;
    margin-top: 129px;
    margin-bottom: 140px;
}
.content .special .title ul li{
    position: relative;
    cursor: pointer;
    /* font-size: 1vw; */
}
.content .special .title ul li::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #e7b633;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
.content .special .title ul li.on::after{
    width: 100%;
    transition: 0.3s;
}
.content .special .box{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.content .special .box ul{
    width: 100%;
}
.content .special .box .lab1004,
.content .special .box .l7,
.content .special .box .island,
.content .special .box .di,
.content .special .box .lw{
    display: flex;
    max-width: 1200px;
    display: none;
}
.content .special .box .lab1004.on,
.content .special .box .l7.on,
.content .special .box .island.on,
.content .special .box .di.on,
.content .special .box .lw.on{
    display: block;
    display: flex;
}

.content .special .lab1004 ul:nth-child(2),
.content .special .l7 ul:nth-child(2),
.content .special .island ul:nth-child(2),
.content .special .di ul:nth-child(2),
.content .special .lw ul:nth-child(2){
    /* max-width: 759px; */
    flex-basis: 65.4%;
    /* height: 702.63px; */
    overflow: hidden;
}

.content .special .lab1004 ul:nth-child(3),
.content .special .l7 ul:nth-child(3),
.content .special .island ul:nth-child(3),
.content .special .di ul:nth-child(3),
.content .special .lw ul:nth-child(3){
    /* width: 180px; */
    flex-basis: 15.5%;
    opacity: 0.6;
    cursor: pointer;
    font-size: 0;
}
.content .special .lab1004 ul li img,
.content .special .l7 ul li img,
.content .special .island ul li img,
.content .special .di ul li img,
.content .special .lw ul li img{
    width: 100%;
}
.content .special .lab1004 ul:nth-child(3) li,
.content .special .l7 ul:nth-child(3) li,
.content .special .island ul:nth-child(3) li,
.content .special .di ul:nth-child(3) li,
.content .special .lw ul:nth-child(3) li{
    opacity: 0.;
}
.content .special .lab1004 ul:nth-child(3) li.on,
.content .special .l7 ul:nth-child(3) li.on,
.content .special .island ul:nth-child(3) li.on,
.content .special .di ul:nth-child(3) li.on,
.content .special .lw ul:nth-child(3) li.on{
    opacity: 1;
}

.content .special .txt_box{
    text-align: center;
    /* width: 250px; */
    flex-basis: 20%;
    /* height: 614px; */
    border: 1px solid #ddd;
    border-radius: 25px;
    padding-top: 91px;
    margin-right: 13px;
    box-sizing: border-box;
    font-size: 0.9vw;
}
.content .special .txt_box ul li:nth-child(1){
    font-weight: bold;
}
.content .special .txt_box ul li:nth-child(2),
.content .special .txt_box ul li:nth-child(3),
.content .special .txt_box ul li:nth-child(4){
    /* margin: 111px 0; */
    margin-top: 111px;
    position: relative;
}
.content .special .txt_box ul li:nth-child(2)::after,
.content .special .txt_box ul li:nth-child(3)::after,
.content .special .txt_box ul li:nth-child(4)::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #e7b633;
    border-radius: 5px;
    top: -55px;
    right: 50%;
    /* transform: translateX(-50%); */
}


.content .banner{
    width: 100%;
    margin-top: 177px;
    display: flex;
}
.content .banner .banner-wrap{
    max-width: 360px;
    height: 298px;
    background-color: rgba(255, 255, 255, 0.76);
    margin: 101px auto 0;
    text-align: center;
}
.content .banner .banner-wrap ul{
    margin-bottom: 42px;
    padding-top: 75px;
}
.content .banner .banner-wrap ul li:nth-child(1){
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}
.content .banner .banner1{
    background: url(../images/가맹점.png);
    background-size: cover;
    background-position: center;
    width: 960px;
    height: 493px;
}
.content .banner .banner1 .more{
    max-width: 146px;
    /*  */
    height: 51px;
    background-color: #e7b633;
    border-radius: 30px;
    margin: 0 auto;
    line-height: 51px;
    font-weight: bold;
    font-size: 21px;
}

.content .banner .banner2{
    max-width: 960px;   
    /*  */
    /* height: 246.5px; */
    padding-bottom: 7%;
    background-color: #e7b633;
}
.content .banner .banner2 .b2-wrap{
    max-width: 833px;
    /*  */
    margin: 0 auto;
    padding-top: 39px;
    display: flex;
    justify-content: space-between;
}
.content .banner .banner2 .b2-wrap .txt span,
.content .banner .b3-wrap .title span{
    font-size: 28px;
    font-weight: bold;
    position: relative;
    /* width: 460px; */
}
.content .banner .banner2 .b2-wrap .txt span::after,
.content .banner .b3-wrap .title span::after{
    content: "";
    position: absolute;
    width: 7px; height: 7px;
    background-color: #000;
    border-radius: 5px;
    left: -20%;
    top: 50%;
    transform: translateY(-50%);
}
.content .banner .banner2 .b2-wrap .txt p{
    color: #fff;
    margin-top: 20px;
}
.content .banner .banner2 .seachbox .box1{
    display: flex;
    /* width: 460px; */
    justify-content: space-between;
}
.content .banner .banner2 .seachbox .box1 .box1-1{
    /* width: 225px; */
    flex-basis: 47%;
    /* height: 40px; */
    text-align: center;
    background-color: #f3f4ef;
    border-radius: 10px;
    line-height: 40px;
    border: 1px solid #8d8e8b;
    box-sizing: border-box;
}
.content .banner .banner2 .seachbox .box2{
    width: 460px;
    height: 40px;
    text-align: center;
    background-color: #f3f4ef;
    border-radius: 10px;
    line-height: 40px;
    border: 1px solid #8d8e8b;
    box-sizing: border-box;
    margin-top: 6px;
}
.content .banner .banner2 .seachbox .box3{
    width: 173px;
    height: 33px;
    margin: 0 auto;
    margin-top: 21px;
    text-align: center;
    background-color: #767773;
    border-radius: 10px;
    line-height: 33px;
}
.content .banner .banner3{
    width: 960px;
    /*  */
    height: 246.5px;
    background-color: #f3f4ef;
}
.content .banner .b3-wrap{
    max-width: 833px;
    /*  */
    margin: 0 auto;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}
.content .banner .b3-wrap .txt .top,
.content .banner .b3-wrap .txt .bottom{
    display: flex;
    width: 460px;
    justify-content: space-between;
}
.content .banner .b3-wrap .txt .top{
    margin-bottom: 33px;
}
.content .banner .b3-wrap .txt .top ul li,
.content .banner .b3-wrap .txt .bottom ul li{
    position: relative;
}
.content .banner .b3-wrap .txt .top ul:nth-child(1) li::after,
.content .banner .b3-wrap .txt .bottom ul:nth-child(1) li::after{
    position: absolute;
    content: "";
    width: 460px;
    height: 1px;
    background-color: #333333;
    left: 0;
    bottom: -3px;
}

.footer{
    width: 100%;
    background-color: #000;
}
.footer .footer-wrap{
    max-width: 773px;
    margin: 0 auto;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 169px;
}
.footer .footer-wrap ul{
    display: flex;
}
.footer .footer-wrap ul:nth-child(1){
    justify-content: space-between;
}
.footer .footer-wrap ul:nth-child(1){
    margin-bottom: 33px;
}
.footer .footer-wrap ul:nth-child(1) li:not(:nth-child(1)){
    position: relative;
}
.footer .footer-wrap ul:nth-child(1) li:not(:nth-child(1))::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 60%;
    background-color: #fff;
    bottom: 2px;
    left: -13px;
}
.footer .icon{
    text-align: right;
    margin-right: 132px;
}
.footer .icon img{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
}
.footer .icon img:nth-child(2){
    margin: 0 20px;
}

@media screen and (min-width: 641px) and (max-width: 1200px) {
    /* .content .menu ul li{
        flex-basis: 25%;
    } */
    .content .special .title ul{
        padding: 0 2%;
    }
    .content .special .box .lab1004,
    .content .special .box .l7,
    .content .special .box .island,
    .content .special .box .di,
    .content .special .box .lw{
        flex-wrap: wrap;
        justify-content: center;
        /* flex-flow: row-reverse wrap; */
    }
    .content .special .lab1004 ul:nth-child(3),
    .content .special .l7 ul:nth-child(3),
    .content .special .island ul:nth-child(3),
    .content .special .di ul:nth-child(3),
    .content .special .lw ul:nth-child(3){
        /* flex-basis: 70%; */
        /* display: flex; */
        order: -1;
    }
    .content .special .lab1004 ul:nth-child(2),
    .content .special .l7 ul:nth-child(2),
    .content .special .island ul:nth-child(2),
    .content .special .di ul:nth-child(2),
    .content .special .lw ul:nth-child(2){
        order: -1;
    }
    .content .special .lab1004 ul:nth-child(3) li,
    .content .special .l7 ul:nth-child(3) li,
    .content .special .island ul:nth-child(3) li,
    .content .special .di ul:nth-child(3) li,
    .content .special .lw ul:nth-child(3) li{
        flex-basis: 30%;
    }
    .content .special .txt_box{
        flex-basis: 80%;
        padding: 3% 0;
        transition: 0.3s;
    }
    .content .special .txt_box ul{
        display: flex;
        justify-content: space-around;
        /* padding-top: 91px; */
        margin-right: 13px;
        align-items: center;
    }
    .content .special .txt_box ul li:nth-child(2),
    .content .special .txt_box ul li:nth-child(3),
    .content .special .txt_box ul li:nth-child(4){
        margin-top: 0;
    }
    .content .special .txt_box ul li::after{
        display: none;
    }
    /* .content .special .txt-box ul{
        display: flex;
    } */
}